
html,body, #root, .wrap{
    height:100%;
}
.wrap{    
   display: flex;

}
.boxwrap{
    background:#eee;
    padding:1rem;
    width:500px;
    margin:auto;   
    border:1px dotted #333;
    h1{
        font-size:1.5rem;
        font-weight: 700;    
        padding:1rem;
        font-style: italic;
        color:#0053ff;
        margin-bottom:3rem;
    }
}


.btn{
    display:block !important;
    margin:auto;
    margin-top:2rem;
    
}
.sbox{
    border-bottom:1px solid lightgray;
    display: flex;
    justify-content: space-between;
    margin-bottom:1rem;
    padding-bottom:1rem;
    // align-items: center;    

}

.main{
    width:calc(100% - 25%)
}
.duble{display:inline-block; margin-right:2rem;}

.pay{
    float:right;
}

.personinput{
    width:15%;
    text-align: right;
}
.payinput{
    text-align: right;
    
}

.oneperson{        
    text-align: right;
    margin-top:0.5rem;
}
.oneresult{
    color:red;
    font-weight: 700;;
}